* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: black; */
    color: white;
}

.bg {
    width: 100%;
    height: 100vh;
    /* background: rgba(0, 0, 0, 0.35); */
    position: absolute;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
}

.bgvideo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.alert {
    width: 100%;
    background: rgb(0, 255, 106);
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    display: none;
}

h1 {
    text-align: center;
    color: white;
    font-family: 'Quicksand', sans-serif;
    padding-top: 1em;
    padding-bottom: 0.5em;
    font-size: 5.5em;
    font-weight: 800;
    letter-spacing: 1rem;
    text-align: center;
    /* font-family: 'Barlow', sans-serif; */
    /* font-family: 'Cabin', sans-serif; */
    /* font-family: 'Overpass', sans-serif; */
}

h2 {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 3.5em;
    font-weight: 800;
    /* font-family: 'Quicksand', sans-serif; */
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    /* font-family: 'Cabin', sans-serif; */
    /* font-family: 'Overpass', sans-serif; */
    text-align: center;
}

h3 {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 2em;
    font-weight: 800;
    text-align: center;
    /* font-family: 'Quicksand', sans-serif; */
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;

    /* font-family: 'Cabin', sans-serif; */
    /* font-family: 'Overpass', sans-serif; */
}

.formbody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
}

.formentry {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    /* padding-top: 1em; */
    padding-bottom: 0.75em;
    font-size: 1.65em;
    font-weight: 500;
    /* font-family: 'Quicksand', sans-serif; */
    /* font-family: 'Barlow', sans-serif; */
    /* text-transform: uppercase; */
    /* font-family: 'Cabin', sans-serif; */
    /* font-family: 'Overpass', sans-serif; */
    font-family: 'Space Mono', monospace;
    text-align: center;
}

.formentryRadio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    /* padding-top: 1em; */
    padding-bottom: 0.75em;
    font-size: 1.75em;
    font-weight: 500;
    /* font-family: 'Quicksand', sans-serif; */
    /* font-family: 'Barlow', sans-serif; */
    /* text-transform: uppercase; */
    /* font-family: 'Cabin', sans-serif; */
    /* font-family: 'Overpass', sans-serif; */
    font-family: 'Space Mono', monospace;
}

.formentryquestions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* min-height: 100vh; */
    /* padding-top: 1em; */
    padding-bottom: 0.95em;
    font-size: 1.5em;
    font-weight: 500;
    /* font-family: 'Quicksand', sans-serif; */
    /* font-family: 'Barlow', sans-serif; */
    /* text-transform: uppercase; */
    /* font-family: 'Cabin', sans-serif; */
    /* font-family: 'Overpass', sans-serif; */
    font-family: 'Space Mono', monospace;
}

.tab {
    margin: 2em;
}

#textefft {
    padding-left: 1em;
    padding-right: 3em;
}

#no {
    padding-left: 1em;
    padding-right: 3em;
}

.formentry input {
    width: 25rem;
    padding: 0.05rem;
    border: 0.1rem solid grey;
    background-color: rgba(0, 0, 0, 0.658);
    border-radius: 0.25rem;
    outline: none;
    font-size: 2rem;
    font-family: 'Space Mono', monospace;
}

.formentryquestions input {
    width: 50rem;
    padding: 0.05rem;

    border: 0.1rem solid grey;
    background-color: rgba(0, 0, 0, 0.658);
    border-radius: 0.25rem;
    outline: none;
    font-size: 2rem;
    font-family: 'Space Mono', monospace;
}

.startlink {
    text-decoration: none;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 2em;
    border: 1px solid white;
    padding: 0.25em;
    margin: 0.1em;
    margin-top: 0.5em;
    align-items: center;
    background: none;
}

/* #talentbutton{
    text-align: center;
    display: block;
} */

@media(max-width:1450px) {
    h3 {
        font-size: 1.75em;
    }

    .formentryquestions {
        font-size: 1.5em;
    }

    .formentryquestions input {
        width: 17rem;
    }

    .formentry input {
        width: 17rem;

    }

    .startlink {
        font-size: 1.5em;
    }
}

@media(max-width:1300px) {
    h3 {
        font-size: 1.75em;
    }

    .formentryquestions {
        font-size: 1.15em;
    }

    .formentryquestions input {
        width: 17rem;
    }

    .formentry input {
        width: 17rem;

    }

    .startlink {
        font-size: 1.5em;
    }

    h2 {
        font-size: 3em;
    }
}

@media(max-width:1250px) {
    h3 {
        font-size: 1.5em;
    }

    .formentryquestions {
        font-size: 1.15em;
    }

    .formentryquestions input {
        width: 17rem;
        font-size: 1.5rem;
    }

    .formentry input {
        width: 17rem;

    }

    .startlink {
        font-size: 1.5em;
    }

    h2 {
        font-size: 2.5em;
        letter-spacing: 0.15em;
    }
}

@media(max-width:950px) {
    h1 {
        font-size: 4em;
    }

    h3 {
        font-size: 1.35em;
    }

    .formentryquestions {
        font-size: 1.15em;
    }

    .formentryquestions input {
        width: 15rem;
    }

    .formentry input {
        width: 17rem;

    }

    .formentry {
        font-size: 1.5em;
    }

    .startlink {
        font-size: 1.5em;
    }

    h2 {
        font-size: 2em;
        letter-spacing: 0.05em;
    }
}

@media(max-width:700px) {
    .formentry {
        flex-direction: column;
    }

    .formentryRadio {
        flex-direction: column;
    }

    #textefft {
        padding-left: 0;
        padding-right: 0;
    }

    #no {
        padding-left: 0;
        padding-right: 0;
    }
}

@media(max-width:620px) {
    h1 {
        font-size: 3em;
        letter-spacing: 0.25em;
    }

    h3 {
        font-size: 1.35em;
    }

    .formentryquestions {
        font-size: 1.15em;
    }

    .formentryquestions input {
        width: 15rem;
    }

    .formentry input {
        width: 17rem;

    }

    .formentry {
        font-size: 1.5em;
    }

    .startlink {
        font-size: 1.5em;
    }

    h2 {
        font-size: 2em;
        letter-spacing: 0.05em;
    }
}
@media(max-width:480px) {
    h1 {
        font-size: 2.5em;
        letter-spacing: 0.25em;
    }

    h3 {
        font-size: 1.35em;
    }

    .formentryquestions {
        font-size: 1.15em;
    }

    .formentryquestions input {
        width: 15rem;
    }

    .formentry input {
        width: 17rem;

    }

    .formentry {
        font-size: 1.5em;
    }

    .startlink {
        font-size: 1.5em;
    }

    h2 {
        font-size: 2em;
        letter-spacing: 0.05em;
    }
    #textefft{
        font-size: 1em;
    }
}
